body {
    font-family: sans-serif;
}

a {
    color: black;
    border-bottom: 3px solid black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 150px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

main img {
    margin-left: 80px;
    border-left: 10px dotted black;
}

main p {
    border:3px solid black ;
    border-radius: 15px;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 3px;
}

footer p {
    background-color: white;
}
